/* search.css */


/* Container for the search bar and button */

.search-container {
    display: flex-end;
    align-items: center;
    background-color: #f5f5f5;
    /* Background color */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px;
    width: 300px;
    /* Adjust the width as needed */
}


/* Search input field */

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    font-size: 16px;
}


/* Search button */

.search-button {
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}


/* Results container */

.results {
    margin-top: 20px;
}


/* Individual result */

.result-item {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}


/* search.css */


/* Center the search box vertically and horizontally */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Make the container full-height of the viewport */
}


/* Container for the search bar and button */

.search-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 400px;
}